<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tacoma_ProyectoDesarrollo.Properties.Settings.TacomaDBConnectionString4"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|Data\TacomaDB.mdf;Integrated Security=True;User Instance= true;"
            providerName="System.Data.SqlClient" />
        <add name="Tacoma_ProyectoDesarrollo.Properties.Settings.TacomaDBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|Data\TacomaDB.mdf;Integrated Security=True;User Instance= true;"
            providerName="System.Data.SqlClient" />
        <add name="Tacoma_ProyectoDesarrollo.Properties.Settings.TacomaDBConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|Data\TacomaDB.mdf;Integrated Security=True;User Instance= true;"
            providerName="System.Data.SqlClient" />
        <add name="Tacoma_ProyectoDesarrollo.Properties.Settings.TacomaDBConnectionString2"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|Data\TacomaDB.mdf;Integrated Security=True;User Instance= true;"
            providerName="System.Data.SqlClient" />
        <add name="Tacoma_ProyectoDesarrollo.Properties.Settings.TacomaDBConnectionString3"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|Data\TacomaDB.mdf;Integrated Security=True;User Instance= true;"
            providerName="System.Data.SqlClient" />
        <add name="Tacoma_ProyectoDesarrollo.Properties.Settings.TacomaDBConnectionString5"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|Data\TacomaDB.mdf;Integrated Security=True;User Instance= true;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>